<%= form_for(@chemical) do |f| %>
  <% if @chemical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chemical.errors.count, "error") %> prohibited this chemical from being saved:</h2>

      <ul>
      <% @chemical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :casnum %><br />
    <%= f.text_field :casnum %>
  </div>
  <p>
	Functional Groups:
	<% for fgroup in Fgroup.find(:all) %>
	<div>
		<%= check_box_tag "chemical[fgroup_ids][]", fgroup.id, @chemical.fgroups.include?(fgroup) %>
		<%= fgroup.name %>
	</div>
	<% end %>
  </p> 	

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_area :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
