<!DOCTYPE html>
<html>
<head>
  <title>ChemFinderTwo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #99C68E;" vlink="#808080;" link="#000000">
<h2>
<%= link_to(image_tag("logo.gif", :alt => "logo"), "/") %>
</h2>

<%= yield %>

</body>
</html>
